*{
    margin: 0;
    padding: 0;
}


/*Navbar Starts  */
.lownav{
    height: 17rem;
    background-image: url(images/NavBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;

}

.text{
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.555);
    width: 15%;
    height: 30%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navbar Ends */


/* Main Starts */

/* Upper Container Starts */
.uppercont{

   width: 75%;
   margin-left: 8%;
    height: 6rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}


/*Upper Container Ends  */


/* Main Content Start */

.mygrid{
    
    width: 80%;
    margin: auto;
   

    
}

.priorlist{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}


.mybtn{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

/* Priority Number span */
.imp{
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:black;
}

.priorimg{
    width: 20px;
}

/* Main Content Ends Ends */



/* Footer Starts */
.myfooter{
    margin-top: 3rem;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;

    display: flex;
    justify-content:center ;
    align-items: center;
}
/* Footer Ends */

